<mat-toolbar color="accent">
    <span>Material</span>
    <span class="toolbar-content"></span>
    <span>MENU</span>
  </mat-toolbar>
  
  <div class="container-fluid">
    <div class="row">
      <h3 class="col-12"> LAYOUT : </h3>
        <mat-horizontal-stepper>
          <mat-step label="etap 1">

            Content 1

          </mat-step>

          <mat-step label="etap 2">

            Content 2
          
          </mat-step>

          <mat-step label="etap 3">

            Content 3
          
          </mat-step>
        </mat-horizontal-stepper>

        <mat-tab-group>
          <mat-tab label="tab 1">
             content 1 
             <mat-button-toggle>
               BYUTTON
             </mat-button-toggle><br><br>

             <mat-chip-list>
               <mat-chip>1</mat-chip>
               <mat-chip>2</mat-chip>
               <mat-chip>3</mat-chip>
               <mat-chip>4</mat-chip>
               <mat-chip>115</mat-chip>
             </mat-chip-list>

          </mat-tab>

          <mat-tab label="tab 2">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>panel title</mat-panel-title>
                <mat-panel-description>panel description</mat-panel-description>
              </mat-expansion-panel-header>
              
              CONTENT expansion panel
            </mat-expansion-panel>
          </mat-tab>
        </mat-tab-group>
    </div>
  </div>