<div class="col-12" style="margin-top:50px;padding:20px">
  <h3 class="col-12">HomePage :</h3>
  <p class="col-12">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pharetra maximus ex. Mauris odio lacus, pretium ut ligula ut, posuere molestie nibh. 
    Pellentesque vestibulum consequat pulvinar. Proin consequat justo mi, sit amet <span (click)="redi()" style="color:red;cursor:pointer;"> User </span> faucibus ex viverra in. Phasellus auctor tincidunt enim et convallis. Sed iaculis, 
    neque vel condimentum vulputate, augue ex feugiat metus, id consectetur purus velit a tellus. </p>

</div>