<mat-toolbar color="primary" 
             fxLayout="row" 
             fxLayoutAlign="start center"
             fxLayoutGap="15px">
  <span fxFlex="auto">Mini Trello</span>
  <mat-form-field floatLabel="never">
    <input [(ngModel)]="listLabel" (keydown.enter)="addList()" matInput placeholder="add list" type="text">
  </mat-form-field>
  <button mat-raised-button color="accent" (click)="addList()">Add list</button>
</mat-toolbar>
<div fxLayout="row"
     fxLayoutAlign="start start"
     fxLayoutGap="15px"
     class="p-15">
  <mat-card *ngFor="let list of lists; let listIndex = index;">
    <mat-card-header (transfer)='transferItem($event)' appDrag [listIndex]='listIndex'>{{ list.label }}</mat-card-header>
    <mat-card-content>
      <ul>
        <li (switch)="switchItem($event)" [itemIndex]='itemIndex' [listIndex]='listIndex' appDrag [class.odd]="odd" *ngFor="let item of list.items; let odd = odd; let itemIndex = index"> {{ item.content }}</li>
      </ul>
    </mat-card-content>
    <mat-card-actions fxLayout="row" 
                      fxLayoutAlign="start center"
                      fxLayoutGap="15px">
      <mat-form-field floatLabel="never">
        <input [(ngModel)]="itemContent" (keydown.enter)="addItem(list)"  matInput placeholder="add item" type="text">
      </mat-form-field>
      <button mat-raised-button color="accent" (click)="addItem(list)">Add item</button>
    </mat-card-actions>
  </mat-card>
</div>