<h1 class="text-center" style="margin-top:50px;"> Directives </h1>>

<div class="row">
  <div class="col-6 mx-auto" style="margin-top:50px;">
    <ul class="list-group">
      <li class="list-group-item"> Item 1 </li>
      <li appColor class="list-group-item" [textcolor]="'orange'"> Item 2 </li>
      <!-- <li [appColor]="{ text: 'purple', background: 'grey'}" class="list-group-item" [textcolor]="'orange'"> Item 2 </li> -->
      <li class="list-group-item"> Item 3 </li>
      <li class="list-group-item"> Item 4 </li>
    </ul>
  </div>
</div>
