<div class="container-fluid" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="20px" fxFlex="600px">
    <h3>To do</h3>
    <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-between">
      <input type="email" [(ngModel)]="message" class="form-control">
      <button class="btn btn-primary" (click)="addTodo()">Ajouter</button>
    </div>
    <ul class="list-group" *ngFor="let todo of todos$ | async; let i = index;"><!-- $ means observable (not mandoatory) -->
      <li class="list-group-item" fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="center center">
        <span fxFlex="auto">{{ todo.message }} ({{ todo.done }})</span>
        <button class="btn btn-success" (click)="toggleTodo(i)">toogle</button>
        <button class="btn btn-danger" (click)="deleteTodo(i)">Supprimer</button>
      </li>
    </ul>
  </div>
</div>