<div class="container">
  <h1 class="col-12 text-center">Pipes</h1>

  <div class="row">
    <h3 class="col-12 text-center">{{ date | date:'d MMMM y' | lowercase }}</h3>
    <h3 class="col-12 text-center">{{ nom | uppercase }}</h3>
  </div>

  <div class="row">
    <h3 class="col-12 text-center"> {{ '4578 1265 9845 1232' | cb:3 }} </h3>
  </div>
  <hr>  
  <h1 class="col-12 text-center">Pipes again</h1>
  <div class="row">
    <button class="btn btn-success" (click)="names.push('Louisa')">Ajouter</button>
    <input type="text" class="col-10 form-control mx-auto" [(ngModel)]="search" />
    <h3 *ngFor="let name of names | filter:search" class="col-10 text-center mx-auto">{{ name }}</h3>
  </div>

  <hr>
  <div class="row">  
    <h1 class="col-12 text-center">Pipe asynchrone with Promise</h1>
    <h3 class="col-10 text-center mx-auto">{{ name2 | async }}</h3>
  </div>

  <hr>
  <div class="row">  
    <h1 class="col-12 text-center">Pipe asynchrone with Observable</h1>
    <h3 class="col-10 text-center mx-auto">{{ name3 | async }}</h3>
  </div>

</div>